

* {margin: 0; padding: 0; font-family: 'Roboto Slab', serif;}

.menu  a{
    color: #BEBEBE;
}
.menu a:hover {
    color: white;
}
.menu img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}


.current-page {
    font-weight: 800;
}


.burger {
    color: #BEBEBE;
    font-size: 40px;
}
.burger:hover {
    
}
#menubutton:active{
    background-color:#1E293E;
}
hr {
    height: 10px;
    color: white !important;
}
.navbar.menu {
    border-bottom-width: 2px;
}
.header_1{
    width:0px;
    
    height:1px;
    float:left;
    margin-left: 35px;
}

.header_2{
    width:0px;
    
    height:1px;
    float:left;
    margin-left: 45px;
}

.header_3{
    width:0px;
    
    height:1px;
    float:left;
}

.header_4{
    width:0px;
    
    height:1px;
    float:left;
}

